[Unit]
Description=Karakeep bookmark service
Documentation=https://docs.karakeep.app/installation/docker
After=karakeep-chrome.service karakeep-meilisearch.service
Requires=karakeep-chrome.service karakeep-meilisearch.service

[Service]
Restart=always

[Container]
Pod=karakeep.pod
ContainerName=karakeep
Image=ghcr.io/karakeep-app/karakeep:release

Volume=karakeep_data:/data:Z

Secret=karakeep_oauth_client_secret,type=env,target=OAUTH_CLIENT_SECRET
Secret=karakeep_nextauth_secret,type=env,target=NEXTAUTH_SECRET
Secret=karakeep_meili_master_key,type=env,target=MEILI_MASTER_KEY
Secret=karakeep_smtp_password,type=env,target=SMTP_PASSWORD

Environment=PORT=11033
Environment=LOG_LEVEL=warning
Environment=DATA_DIR=/data
Environment=MEILI_ADDR=http://127.0.0.1:7700
Environment=BROWSER_WEB_URL=http://127.0.0.1:9222
Environment=NEXTAUTH_URL=https://karakeep.virtualvilla.net
Environment=OAUTH_WELLKNOWN_URL=https://auth.virtualvilla.net/.well-known/openid-configuration
Environment=OAUTH_CLIENT_ID=Kq0neZaA3Zi3_zIlnw7zZRuGFpLpC5gKOL5ZVSN_Od-OPqBXbEqmE60f-Pl-ITOs5cEyDceN
Environment=OAUTH_PROVIDER_NAME=Authelia
Environment=SMTP_HOST=smtp.gmail.com
Environment=SMTP_PORT=587
Environment=SMTP_USER=ozmarmen
Environment=SMTP_FROM='ozmarmen@gmail.com'
