[Unit]
Description=Mealie cookbook service
Documentation=https://docs.mealie.io/documentation/getting-started/installation/sqlite/
After=podman.socket
Requires=podman.socket

[Container]
ContainerName=mealie
Image=ghcr.io/mealie-recipes/mealie:v3.22.0
Network=reverse_proxy.network
Memory=1000m

Volume=/mnt/podman/mealie:/app/data:Z

Secret=mealie_smtp_password,type=env,target=SMTP_PASSWORD
Secret=mealie_oidc_client_secret,type=env,target=OIDC_CLIENT_SECRET

Environment=ALLOW_SIGNUP=false
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/Chicago
Environment=BASE_URL=https://mealie.virtualvilla.net
Environment=SMTP_HOST=smtp.purelymail.com
Environment=SMTP_PORT=465
Environment=SMTP_AUTH_STRATEGY=SSL
Environment=SMTP_FROM_EMAIL=admin@virtualvilla.net
Environment=SMTP_USER=admin@virtualvilla.net
Environment=OIDC_AUTH_ENABLED=true
Environment=OIDC_SIGNUP_ENABLED=true
Environment=OIDC_CONFIGURATION_URL=https://auth.virtualvilla.net/.well-known/openid-configuration
Environment=OIDC_CLIENT_ID=ecmiT7H-fkR~4MgnwriuL.ZvmYcp6WDQmlqzVr0_oW6rBhA.n_C11yCSfzm0Lgu4XYn6iM0Q
Environment=OIDC_AUTO_REDIRECT=false
Environment=OIDC_ADMIN_GROUP=admins
Environment=OIDC_USER_GROUP=users

[Install]
WantedBy=default.target
