[Unit]
Description=MariaDB container used by Nextcloud

[Container]
Pod=nextcloud.pod
ContainerName=nextcloud-db
Image=docker.io/mariadb:lts
Exec=--transaction-isolation=READ-COMMITTED

Volume=/mnt/podman/nextcloud:/var/lib/mysql:Z

Secret=nextcloud_mysql_password,type=env,target=MYSQL_PASSWORD
Secret=nextcloud_mysql_root_password,type=env,target=MYSQL_ROOT_PASSWORD

Environment=MARIADB_AUTO_UPGRADE=1
Environment=MARIADB_DISABLE_UPGRADE_BACKUP=1
Environment=MYSQL_DATABASE=nextcloud
Environment=MYSQL_USER=nextcloud
